* {
    font-family: "Rubik", sans-serif;
    color: white;
  }
  
  body {
    background-color: rgb(230, 166, 166);
    margin: 0;
  }
  .header {
    background-color: #93918a;
    position: fixed;
    top: 0;
    width: 100%;
    height: 6%;
    padding: 15px 5px;
    font-weight: 600;
  }
  .header div {
    display: inline-block;
  }
  .navbar {
    float: right;
  }
  .navbar div {
    margin: 0 10px 0 0;
  }
  .navbar a {
    text-decoration: none;
    cursor: default;
  }
  /*Main*/
  .main {
    width: 100%;
    margin-top: 100px;
  }
  /*Hero*/
  .hero {
    padding: 20px;
    display: grid;
    grid-template-columns: 65% 35%;
    font-size: 72px;
    font-weight: 600;
  }
  .hello div {
    font-weight: normal;
    font-size: 50px;
    padding-top: 2%;
  }
  .hello a {
    cursor: default;
  }
  .hero .desc {
    margin-top: 0px;
    font-size: 20px;
  }
  .line {
    width: 20%;
    background-color: #999297;
    margin-top: 10px;
    border-radius: 10px;
  }
  .hero .image img {
    border-radius: 15%;
    height: 350px;
  }
  .contact {
    margin-top: 10px;
  }
  .contact iconify-icon {
    margin-right: 0 5px 0 0;
  }
  .contact a {
    color: rgb(209, 180, 180);
    cursor: default;
  }
  .contact a:active {
    color: rgb(198, 174, 174);
  }
  .contact a:visited {
    color: rgb(197, 165, 165);
  }
  .hero button {
    margin-top: 30px;
    padding: 10px;
    border-radius: 15px;
    font-size: 16px;
    background-color: rgb(202, 183, 183);
    color: #f7f7f7;
    border: 2px solid #9f989d;
    width: 50%;
  }
  /* ABOUT */
  .about {
    margin-top: 5%;
    background-color: #8b8a86;
    padding: 60px 20px;
    cursor: default;
    display: grid;
    grid-template-columns: 30% auto;
    font-size: 20px;
  }
  .about .image img {
    height: 300px;
    border-radius: 15%;
    margin: 0;
    /* margin-right: 20%; */
  }
  .hobby table {
    margin: 0;
  }
  .hobby table td {
    width: 100px;
    text-align: left;
  }
  /* PENDIDIKAN */
  .edu {
    padding: 40px 20px;
    font-size: 20px;
  }
  .edu table tr td {
    text-align: center;
    padding: 50px;
  }
  .edu table tr td p {
    margin: 0;
  }
  .edu-content {
    display: grid;
    grid-template-columns: 60% auto;
    margin-top: 20px;
  }
  .edu-content .image img,
  .hobby-content .image img {
    height: 300px;
    margin: 0;
  }
  /* Hobby */
  .hobby-content {
    display: grid;
    grid-template-columns: 50% auto;
    margin-top: 20px;
  }
  .Hobby {
    background-color: #8b8a86;
    padding: 40px 20px;
    color: #ffffff;
    font-size: 20px;
  }
  .hobby h2,
  .hobby table tr td {
    color: #ffffff;
  }
  .hobby-content table {
    width: 80%;
  }
  .bar {
    margin: 10px 0 0 0;
    border-radius: 15px;
    width: 100%;
    background-color: #393e46;
  }
  .hobby-bar {
    border-radius: 15px;
    padding: 20px;
    background-color: rgb(156, 101, 101);
  }
  .hobby-bar.novel {
    width: 60%;
  }
  .hobby-bar.film {
    width: 80%;
  }
  .rangkuman {
    padding: 40px 20px;
    font-size: 20px;
  }
  .rangkuman table tr td {
    text-align: justify;
    padding: 50px;
  }
  
  .rangkuman-content {
    display: inline;
    grid-template-columns: 60% auto;
    margin-top: 20px;
  }
  /* RESPONSIVE */
  @media screen and (max-width: 768px) {
    .header {
      height: 20px;
      width: 100%;
      font-size: 18px;
      position: fixed;
      vertical-align: middle;
    }
    .main {
      margin-top: 40px;
    }
    .navbar {
      padding: 4px 0 0 0;
      font-size: 14px;
      font-weight: normal;
    }
    .hero,
    .about,
    .edu-content,
    .hobby-content {
      grid-template-columns: none;
      grid-template-rows: repeat(2, auto);
    }
    .hero .image {
      grid-row-start: 1;
    }
    .hero .image img {
      height: 300px;
      display: none;
    }
    .hello div {
      font-size: 30px;
    }
    .hero .desc {
      font-size: 18px;
    }
    .edu table tr td {
      padding: 8px;
    }
  
    .edu-content .image img {
      height: 200px;
    }
    .hobby-content .image img {
      height: 200px;
    }
    .edu table tr td {
      padding: 8px;
    }
  }